#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 5px;
}

.book {
    border: red solid 2px;
}

.book-physical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    height: 250px;
    width: 80px;
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
